header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0px;
}

header a {
    color: white;
    text-decoration: none;  
    height: fit-content;
}

.account-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

.profile-image {
    height: 60px;
    width: 60px;
    border-radius: 90px;
    border: 1px solid white;
}


  .sign-out-btn {
    color: var(--error);
    border: 1px solid var(--error);
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s;
  }

  .sign-out-btn:hover {
    background-color: var(--error);
    color: white;
    border-color: white;
  }